.jumbotron { 
    background-color: black; /* blue */
    color: #ffffff;
}

#map {
	width:100%;
	height:500px
	
}

.navbar-default{
    background: #0f006f;
    border-color: #030033;
}

.body {
	color: green;
}