.jumbotron { 
    background-color: #c80000; /* blue */
    color: #ffffff;
    margin-top:0;
    margin: 0;
}

#map {
	width:100%;
	height:500px
	
}

.navbar-default{
    background: gold;
    border-color: #ffffff;
    margin-bottom:0;
}

.navbar li {
	border-style: solid;
	border-left: solid #ffffff;
	border-top: none;
	border-right: none;
	border-bottom: none;
}

.body {
	color: green;
}

.button {
	border-color: #ffffff;
}

#attendeeDiv {
	background: #ffff84;
	text-align: center;
}

#attendeeDivButton {
	text-align: center;
	margin: 50px 0;
	font-size: 25px;
}

